{% block slider7 %}
<head>
  <link rel="stylesheet" href="/static/css/slider7.css" />
</head>
<body>
  <div class="slider-container">
    <div class="slideres7">
      <div class="slide-set">
        <div class="slideses7">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/tamil/fir.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses7">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/tamil/kala.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses7">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/tamil/kan.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses7">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/tamil/papa.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses7">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/tamil/radhe.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses7">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/tamil/o.jpeg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses7">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/tamil/dear.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses7">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/tamil/t1.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses7">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/tamil/bh.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses7">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/tamil/pushpa.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses7">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/tamil/vt.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses7">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/tamil/khushi.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses7">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/tamil/sal.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses7">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/tamil/gk.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
      </div>

      <!-- Add more slide sets as needed -->
    </div>
  </div>

  <button class="slider-btn prev-btn" onclick="prevSlides7()">❮</button>
  <button class="slider-btn next-btn" onclick="nextSlides7()">❯</button>

  <script src="/static/js/slider7.js"></script>

  {% endblock %}
</body>
