{% block slider5 %}
<head>
  <link rel="stylesheet" href="/static/css/slider5.css" />
</head>
<body>
  <div class="slider-container">
    <div class="slideres5">
      <div class="slide-set">
        <div class="slideses5">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/american/bb.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses5">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/american/elite.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses5">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/american/friends.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses5">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/american/loki.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses5">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/american/platform.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses5">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/american/traitor.jpeg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses5">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/american/last.jpeg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses5">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/american/all.jpeg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses5">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/american/office.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses5">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/american/re.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses5">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/american/sp.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses5">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/american/bbt.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses5">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/american/hoc.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses5">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/american/cr.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
      </div>
      <!-- Add more slide sets as needed -->
    </div>
  </div>

  <button class="slider-btn prev-btn" onclick="prevSlides5()">❮</button>
  <button class="slider-btn next-btn" onclick="nextSlides5()">❯</button>

  <script src="static/js/slider5.js"></script>

  {% endblock %}
</body>
