{% block slider4 %}
<head>
  <link rel="stylesheet" href="/static/css/slider4.css" />
</head>
<body>
  <div class="slider-container">
    <div class="slideres4">
      <div class="slide-set">
        <div class="slideses4">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/euro/gg.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses4">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/euro/gt.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses4">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/euro/luci.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses4">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/euro/mh.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses4">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/euro/st.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses4">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/euro/wed.jpeg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses4">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/br.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses4">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/br.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses4">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/br.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses4">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/br.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses4">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/br.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses4">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/br.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses4">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/br.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses4">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/br.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
      </div>

      <!-- Add more slide sets as needed -->
    </div>
  </div>

  <button class="slider-btn prev-btn" onclick="prevSlides4()">❮</button>
  <button class="slider-btn next-btn" onclick="nextSlides4()">❯</button>

  <script src="static/js/slider4.js"></script>

  {% endblock %}
</body>
