{% block slider3 %}
<head>
  <link rel="stylesheet" href="/static/css/slider3.css" />
</head>
<body>
  <div class="slider-container">
    <div class="slideres1">
      <div class="slide-set">
        <div class="slideses1">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/boss.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses1">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/harr.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses1">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/frozen.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses1">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/dory.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses1">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/angry.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses1">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/stroks.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses1">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/addams.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses1">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/soul.jpeg.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses1">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/rt.jpeg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses1">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/luca.jpeg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses1">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/em.jpeg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses1">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/kp.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses1">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/br.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses1">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/br.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
      </div>
      <!-- Add more slide sets as needed -->
    </div>
  </div>

  <button class="slider-btn prev-btn" onclick="prevSlides1()">❮</button>
  <button class="slider-btn next-btn" onclick="nextSlides1()">❯</button>

  <script src="static/js/slider3.js"></script>

  {% endblock %}
</body>
