{% block slider2 %}
<head>
  <link rel="stylesheet" href="/static/css/slider2.css" />
</head>
<body>
  <div class="slider-container">
    <div class="slideres">
      <div class="slide-set">
        <div class="slideses">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/hindi/pathan.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/hindi/teri.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/hindi/adhi.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/hindi/eng.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/hindi/ram.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/hindi/raazi.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/hindi/pad.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/hindi/lagaan.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/hindi/kgf.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/hindi/hindi.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/hindi/animal.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/hindi/bhola.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/hindi/devdas.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/hindi/fukrey.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
      </div>

      <!-- Add more slide sets as needed -->
    </div>
  </div>

  <button class="slider-btn prev-btn" onclick="prevslides()">❮</button>
  <button class="slider-btn next-btn" onclick="nextSlides()">❯</button>

  <script src="static/js/slider2.js"></script>

  {% endblock %}
</body>
