{% block slider6 %}
<head>
  <link rel="stylesheet" href="/static/css/slider6.css" />
</head>
<body>
  <div class="slider-container">
    <div class="slideres6">
      <div class="slide-set">
        <div class="slideses6">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/korean/bp.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses6">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/korean/dots.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses6">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/korean/k1.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses6">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/korean/k2.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses6">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/korean/love.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses6">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/korean/k3.jpeg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses6">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/korean/true.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses6">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/korean/okay.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses6">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/korean/sec.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses6">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/korean/Mms.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses6">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/korean/clo.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses6">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/korean/demon.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses6">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/korean/par.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slideses6">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/korean/str.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
      </div>

      <!-- Add more slide sets as needed -->
    </div>
  </div>

  <button class="slider-btn prev-btn" onclick="prevSlides6()">❮</button>
  <button class="slider-btn next-btn" onclick="nextSlides6()">❯</button>

  <script src="static/js/slider6.js"></script>

  {% endblock %}
</body>
