{% block slider1 %}
<head>
  <link rel="stylesheet" href="/static/css/slider1.css" />
</head>
<body>
  <div class="slider-container">
    <div class="slider">
      <div class="slide-set">
        <div class="slides">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/br.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slides">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/build_girl.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slides">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/fg.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slides">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/alice.png"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slides">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/umbrella.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slides">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/inception.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slides">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/kingdom.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slides">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/titanic.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slides">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/witcher.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slides">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/joker.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slides">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/pi.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slides">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/marvel.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slides">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/justice.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
        <div class="slides">
          <div class="card" style="width: 14rem">
            <img
              src="/static/img/jumanji.jpg"
              class="card-img-top sl-img"
              alt="..."
            />
          </div>
        </div>
      </div>
      <!-- Add more slide sets as needed -->
    </div>
  </div>

  <button class="slider-btn prev-btn" onclick="prevSlide()">❮</button>
  <button class="slider-btn next-btn" onclick="nextSlide()">❯</button>

  <script src="static/js/slider1.js"></script>
  {% endblock %}
</body>
